@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;300;400;500;600;700&family=Montserrat+Alternates:wght@400;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

hr {
  width: 240px;
  height: 4px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.60);
  margin-top: 0px;
  padding-top: 0px;
}

span.alternate-color {
  color: #5F0F0F;
}

span.alternate-colorII {
  color: #FDB0B0;
}

h2 {
  color: #000;
  font-family: Inria Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a {
  text-decoration: none;
}

/* Hero & Navihations */
header {
  background: url('../Images/Hero.png') lightgray 50% / cover no-repeat;
  height: 75dvh;
  flex-shrink: 0;
}

header.alternate-header {
  height: 40dvh;
}

.hero {
  margin: 8rem 0;
}

.navbar-brand {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.motors {
  color: #FDB0B0;
}

.navbar-nav li.nav-item a.nav-link {
  color: #FFF;
  text-align: center;
  font-family: Inria Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-nav .socials li a {
  color: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 18px;
}

.navbar-nav .socials li a:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.hero h1 {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.hero p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.5px;

  margin-top: 2rem;
}

.hero-button button {
  display: inline-flex;
  padding: 12px 0;
  width: 294px;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;

  color: #010101;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.205px;
}

.hero-button button:hover {
  background: #654646;
  color: #f6f6f6;
}

.hero .row {
  margin: 10rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
}

.hero .row .col-3 {
  border-bottom: 1px solid #ffffff3d;
}

.hero .row p {
  font-weight: 400;
  font-family: Inria Sans;
  font-size: 12px;
  line-height: 18px;
  color: #D2D2D2;
  margin: 0px;
  padding: 0px;
}

.hero .row p.title {
  font-weight: 700;
  font-size: 14;
  color: #f6f6f6;
}

/* Featured */
.featured {
  margin-top: 84px;
}

.featured-cars {
  background-color: #fff;
  width: 420px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 0;
}

.feature-title {
  margin-bottom: 3rem;
}

.featured .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

.featured .not-centered {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 0;
}

.alternate-color {
  color: #5F0F0F;
}

.featured a {
  color: #FDB0B0;
}

.featured p {
  color: #000;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.featured img {
  margin: 0;
  padding: 0;
  width: 420px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px 4px 0px 0px;
  mix-blend-mode: darken;
}

img.icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

img.car {
  mix-blend-mode: darken;
  border-radius: 4px 4px 0px 0px;
}

p.money {
  margin-top: 2rem;
  color: #5F0F0F;
  font-family: Inria Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1.5px;
}

p.description {
  width: 296px;
  color: #000;
  font-family: Inria Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1.8px;
}

p.value {
  color: #000;
  font-family: Inria Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1.5px;
}

/* About Us */
.about-us p {
  color: #000;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* width: 95%; */
  text-align: justify;
}

/* Testimonials */
.testimonials {
  margin-top: 4rem;
}

.testimonials .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.testimonials .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials p {
  flex-shrink: 0;
  color: #000;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.testimonials h6 {
  color: #000;
  font-family: Inria Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.5px;
}

/* Contact Us */
.contact-us {
  height: 371px;
  flex-shrink: 0;
  background: url('../Images/background\ II.png') lightgray 50% / cover no-repeat;
  margin-top: 5rem;

  display: grid;
  place-content: center;
}

.contact-us h2 {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-us p {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.contact-button button {
  width: 163px;
  height: 37px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  background: #F6F6F6;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
}

.contact-button button:hover {
  background: #654646;
}

.contact-button {
  margin-top: 2rem;
}

/* Footer */
.footer {
  padding-top: 2.5rem;
  flex-shrink: 0;
  background: #010101;
  display: grid;
  place-content: center;
}

.footer img.icon {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 13px 12px 12px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer .socials li a {
  color: #cce4f8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer p {
  color: #ffffffa6;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

p.copyright {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 1.5px;
}

/* Swippers */
.swiper {
  width: 70%;
  height: 300px;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem;
}

/* Image Slides */
.swiper {
  width: 100%;
  height: auto;
}



/* Media Queries */

@media screen and (max-width: 767px) {
  hr {
    width: 150px;
    height: 3px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  header {
    height: 80dvh;
  }

  header.alternate-header {
    height: 60dvh;
  }

  .hero h1 {
    font-size: 30px;
    line-height: normal;
  }

  .hero p {
    font-size: 18px;
  }

  .hero {
    margin: 4rem .5rem;
  }

  .hero-button button {
    font-size: 16px;
  }

  .hero .row {
    display: none;
  }

  .featured {
    margin-top: 50px;
  }

  .featured-cars {
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
  }

  img.car {
    width: 100%;
    height: auto;
  }
}